@page
@model SparkAuto.Areas.Identity.Pages.Account.VerifyEmailModel

<h1>Confirm Email Address</h1>

<div>
    <p>
        Confirm your email before proceding!
        <br />
        If you haven't receive any email please check your spam folder!
    </p>
</div>