@page
@model SparkAuto.Pages.Users.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2 class="text-info pt-2 pb-3">Delete User</h2>


<div class="row backgroundwhite border">
    <div class="col-md-8">
        <form method="post">
            <input asp-for="Input.Id" type="hidden" />
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Input.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.Name" class="form-control" readonly />
                    </div>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Input.Email"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.Email" class="form-control" readonly />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Input.PhoneNumber"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.PhoneNumber" class="form-control" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Input.Address"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.Address" class="form-control" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Input.City"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.City" class="form-control" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-4">
                        <label asp-for="Input.PostalCode"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Input.PostalCode" class="form-control" readonly/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row offset-4">
                    <div class="col-6">
                        <button asp-page-handler="Delete" asp-route-id="@Model.Input.Id" onclick="return confirm('Are you sure want to delete?')" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6">
                        <a asp-page="Index" class="btn btn-success form-control">Back To List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
